body {
    background-color: rgb(250, 142, 214);
    color: white;
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(250, 192, 228);
    color: white;
    font-family: "Dancing Script", cursive;
}

.passo {
    display: none;
}

.passo.ativo{
    display:block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 90%;
}